.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 600px;
  height: 400px;
  background-color: aliceblue;
  flex-direction: column;
  border-radius: 9px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  margin-left: 0.75rem;
  margin-top: 0.5rem;
}

.button {
  width: 1rem;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

#close {
  background-color: rgb(245, 72, 72);
  color: rgb(153, 0, 0);
}

#minimize {
  background-color: rgb(252, 252, 92);
}
