.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 800px;
  height: 500px;
  background-color: aliceblue;
  flex-direction: column;
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: rgb(226, 226, 226);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 1.5rem;
}

.button-container {
  display: flex;
  gap: 0.35rem;
  padding: 0.5rem 0.5rem;
  align-items: center;
}

.button {
  width: 0.75rem;
  height: 0.75rem;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

#close {
  background-color: rgb(245, 72, 72);
  color: rgb(245, 72, 72);
}

.button-container:hover #close {
  color: rgb(153, 0, 0);
}

#minimize {
  background-color: rgb(238, 238, 34);
  color: rgb(238, 238, 34);
}

.button-container:hover #minimize {
  color: rgb(160, 160, 4);
}
