.main {
  background-color: rgba(199, 199, 199, 0.75);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.25rem;
  font-size: 0.85rem;
}

.left {
  display: flex;
  gap: 2rem;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.apple {
  width: 0.85rem;
  height: 0.85rem;
}
