.main {
  background-color: rgba(199, 199, 199, 0.75);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.25rem;
  font-size: 0.85rem;
}

.left {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left-child {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
  border: 0;
  background-color: rgba(199, 199, 199, 0.1);
}

.left-child:hover {
  background-color: #1f1fff;
  color: white;
}

.right {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.apple {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.125rem 0.125rem;
  background-color: rgba(199, 199, 199, 0.1);
}

.apple-container {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-container:hover .apple {
  background-color: #1f1fff;
  width: 1.5rem;
  padding: 0.125rem 0.35rem;
}

.date-btn {
  border: 0;
  height: 1.25rem;
  background-color: rgba(199, 199, 199, 0.1);
}

.date-btn:hover {
  color: white;
  background-color: blue;
}
