.main {
  background-color: rgba(199, 199, 199, 0.75);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.25rem;
  font-size: 0.85rem;
}

.left {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.date-btn {
  border: 0;
  height: 1.25rem;
  background-color: rgba(199, 199, 199, 0.1);
}

.date-btn:hover {
  color: white;
  background-color: blue;
}
