.container {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    background: linear-gradient(
        200.96deg,
        #fedc2a -29.09%,
        #dd5789 51.77%,
        #7a2c9e 129.35%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.right-menu {
    align-self: flex-end;
}

.log-in-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.avatar-img {
    border-radius: 999px;
    height: 9rem;
    width: 9rem;
}

.name {
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
}

.password {
    border-radius: 999px;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-right: 2rem;
    opacity: 0.5;
}
